
.parallax4{
    background-image:linear-gradient(rgba(255, 255, 255, 0.281),rgba(0,0,0,.4)),url(./images/manylaptops.jpg);
    height: 700px;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:center;
    
}
.content4{
    background-color: #00000070;
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    margin: 10px;
    padding: 10px;
    color: white;
}
